@model List<decimal>

@{
    ViewBag.Title = "Calculate";
}

<h2>Calculate</h2>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.types.Count; i++)
        {
            <tr>
                <td>@ViewBag.types[i]</td>
                <td>@Model[i]</td>
            </tr>
        }
    </tbody>
</table>
