body {
    background: url('../Images/bg43.jpg') no-repeat scroll;
    background-size: 100%;
}

#pnlUniversity {
    position:absolute;
    bottom:1em;
    left:1em;
    color:white;
}

#pnlSearchStudents {
    position:fixed;
    top:55%;
    left:40%;
    display:none;
    color:white;
}

#pnlAddUniversity {
    position:fixed;
    top:55%;
    left:35%;
    display:none;
    color:white;
}

#pnlAddStudents {
    position:fixed;
    top:55%;
    left:35%;
    display:none;
    color:white;
}

#grdStudents {
    display:none;
    position:fixed;
    width:50%;
    bottom:2%;
    left:25%;
    font-size:12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#searchButton {
    position:fixed;
    bottom:0;
    right:16%;
    height:20%;
}

#addStudentsButton {
    position:fixed;
    bottom:0;
    right:8%;
    height:20%;
}

#addUniversityButton {
    position:fixed;
    bottom:0;
    right:0;
    height:20%;
}

#grdAddStudents {
    display:none;
    position:fixed;
    width:50%;
    bottom:2%;
    left:25%;
    font-size:12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.k-header #grdStudents{
    font-size:12px;
}
