<fieldset>
    <legend>Login or register</legend>
    <div id="loginDiv">
        
    <div><label>Username <input data-bind="value: username"/></label></div>
    <div><label>Password<input data-bind="value: password" type="password"/></label></div>
    <button data-bind="click: login">Login</button> <br /></div>
    <div id="registerDiv">
    <div><label>Username <input data-bind="value: username"/></label></div>
     <div><label>Displayname <input data-bind="value: displayName"/></label></div>
     <div><label>Password<input data-bind="value: password" type="password"/></label></div>
    <button data-bind="click: register">Register</button>
    </div>
</fieldset>
