@model IEnumerable<MoviesApplication.ViewModels.MovieModel>

@{
    ViewBag.Title = "All";
}

<h2>All movies</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Title</th>
            <th>Year</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Rating</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@Html.ActionLink("Details", "Details", "Movies", new { id = movie.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>
